<mat-card>
  <h1>Assign Student</h1>
  <form #studentForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="example-container">
      <p>
          <mat-form-field appearance="standard">
            <mat-label>Math Grade</mat-label>
            <input matInput placeholder="example: 0-100"
              [(ngModel)] = "grade"
              name = "grade"
              required>
            <mat-hint></mat-hint>
          </mat-form-field>
        </p> 
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Psycometry Grade</mat-label>
            <input matInput placeholder="example: 200-800"
              [(ngModel)] = "psyc" 
              name = "psyc" 
              required>
            <mat-hint></mat-hint>
          </mat-form-field>
        </p>    
        <p>   
          <mat-form-field appearance="fill">
          <mat-label>Did you pay?</mat-label>
          <select matNativeControl
          matInput 
            [(ngModel)] = "payment"
            name = "payment"
            required>
            <option value="" selected></option>
            <option value="true">Yes</option>
            <option value="false" disabled>No</option>
          </select>
        </mat-form-field>
       </p>
                                         
      <div >
          <button mat-raised-button color="primary" 
                  [disabled]="!studentForm.form.valid">
                   Predict
          </button>
          <button mat-raised-button color="primary"
          (click) = "save()">
                   Save
          </button>
      </div>
    </div>
  </form>
 </mat-card>
