<h2>List of customers</h2>
<p *ngIf = "!(authService.getUser() | async)">you are not logged in </p>
<div>
  <button mat-raised-button
  color = "primary"
  (click) = "addCustomerFormOPen = !addCustomerFormOPen"
>
Add Book
</button>      
</div>
<div>
  <customerform *ngIf = "addCustomerFormOPen"
  (update) = "add($event)">
  </customerform> 
</div>

<mat-accordion *ngIf = "(authService.getUser() | async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let customer of customers$ | async">
      <mat-expansion-panel-header>
      <button mat-raised-button color="warn" (click)="deleteCustomer(customer.id)">Delete</button>

        <mat-panel-title>
          {{customer.name}}
        </mat-panel-title>
        <mat-panel-description>
years Of Study {{customer.yearsOfStudy}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p> income {{customer.income}}</p>
      <customerform
        [name] = "customer.name"
        [yearsOfStudy] = "customer.yearsOfStudy"
        [income] = "customer.income"
        [id] = "customer.id"
        (update) = "update($event)">
      </customerform>
    </mat-expansion-panel>
  </mat-accordion>
  