<h2>List of customers</h2>
<p *ngIf = "!(authService.getUser() | async)">you are not logged in </p>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let item of items">
      <mat-expansion-panel-header>
        <section class="example-section"> 
          <mat-checkbox *ngIf = "item.inventory == true" checked="true" class="example-margin">Checked</mat-checkbox>
        <mat-checkbox *ngIf = "item.inventory == false" unchecked="true" class="example-margin">Checked</mat-checkbox>

      </section>
        <button *ngIf = "item.ST == 0" mat-raised-button color = "primary" (click) = "save(item)">Delete</button>
        <button *ngIf = "item.ST == 2" mat-raised-button color = "warn" (click) = "deleteItem(item.id)">click to delete</button>
        <button *ngIf = "item.ST == 2" mat-raised-button color = "primary" (click) = "unsave(item)">Cancel</button>
        <mat-panel-title>
          {{item.name}}
        </mat-panel-title>
        <mat-panel-description>
          {{item.price}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p> {{item.inventory}}</p>
    </mat-expansion-panel>
  </mat-accordion>
  