<div>    
</div>  
<mat-accordion>
<mat-expansion-panel *ngFor = "let student of students">
<mat-expansion-panel-header>
    <mat-panel-title>
        {{student.grade}}
    </mat-panel-title>
    <mat-panel-description>
        {{student.psyc}}
    </mat-panel-description>
    <mat-panel-description>
      {{student.payment}}
  </mat-panel-description> 
    <button mat-raised-button color="warn" (click)="deleteStudent(student.id)">Delete</button>
</mat-expansion-panel-header>
</mat-expansion-panel>
</mat-accordion>