<mat-card>
  <h1>Update book</h1>
  <form #customerForm="ngForm">
    <div class="example-container">
      <p>
          <mat-form-field appearance="standard">
            <mat-label>customer name</mat-label>
            <input matInput 
              [(ngModel)] = "name"
              name = "name"
              required>
          </mat-form-field>
        </p> 
        <p>
          <mat-form-field appearance="standard">
            <mat-label>customer yearsOfStudy</mat-label>
            <input matInput 
              [(ngModel)] = "yearsOfStudy" 
              name = "yearsOfStudy" 
              required>
          </mat-form-field>
        </p>  
        <p>
          <mat-form-field appearance="standard">
            <mat-label>customer income</mat-label>
            <input matInput 
              [(ngModel)] = "income" 
              name = "income" 
              required>
          </mat-form-field>
        </p>   
        <div>
          <button mat-raised-button color="primary" 
          (click)= "updateParent()">
          Update
        </button>
      </div>            
    </div>
  </form>
 </mat-card>
